<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/editDish.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="menu-mobile hide">
      <ul>
        <a href="/">
          <li>HOME</li>
        </a>
        <a href="/login">
          <li>LOG IN</li>
        </a>
        <a href="/login/crear_chef">
          <li>REGISTER CHEF</li>
        </a>
        <a href="/dishes">
          <li>CREATE DISH</li>
        </a>
      </ul>
    </div>
    <header>
      <nav id="navbar">
        <a href="/"><img src="/images/logo_transparent.png" alt="" /></a>
        <ul>
          <a href="/dishes"><li>CREATE DISH</li></a>
          <a href="/login"
            ><li><img src="/images/icons8-user-64.png" alt="" /></li
          ></a>
        </ul>
        <div class="menu-mobile-icon">
          <span>🍔</span>
        </div>
      </nav>
    </header>

    <h1>Edit the dish</h1>

    <form
      action="/dishes/save_new_dish/<%- resultDish[0].dish_id %>/<%- resultDish[0].chef_id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="nombre">Name</label>
      <input
        id="nombre"
        type="text"
        name="dish_name"
        value="<%- resultDish[0].dish_name %>"
      />
      <label for="descripcion">Description</label>
      <input
        id="descripcion"
        type="text"
        name="description"
        value="<%- resultDish[0].description %>"
      />
      <input type="file" name="image" />
      <button type="submit">SAVE CHANGES</button>
    </form>

    <footer>
      <div class="media">
        <div><img src="/images/facebook.svg" alt="" /></div>
        <div><img src="/images/twitter.svg" alt="" /></div>
        <div><img src="/images/inst.svg" alt="" /></div>
      </div>
    </footer>

    <script>
      const menuMobileIcon = document.querySelector(".menu-mobile-icon");
      const menuMobile = document.querySelector(".menu-mobile");

      menuMobileIcon.addEventListener("click", function () {
        menuMobile.classList.toggle("hide");
      });
    </script>
  </body>
</html>
