<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>SOCRATECH</h1>
    <p>Proyect <%= title %></p>
  </body>
</html>
