* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.hide {
  opacity: 0 !important;
}

.menu-mobile {
  position: fixed;
  opacity: 1;
  height: 100vh;
  width: 210px;
  z-index: 2;
  -webkit-transition: 300ms;
  transition: 300ms;
  background: white;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(200, 0, 0, 0.5)), color-stop(0, transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(200, 0, 0, 0.5)), color-stop(0, transparent));
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 0), linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0);
  background-size: 20px 20px;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.menu-mobile div {
  font-size: 30px;
  color: #535050;
  display: block;
}
.menu-mobile a {
  text-decoration: none;
}
.menu-mobile a li {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding-top: 25px;
  color: #464545;
  font-weight: bold;
  text-shadow: 1px 1px #f6c90e;
  margin-left: 20px;
}
.menu-mobile a li:hover {
  color: black;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(36, 36, 36, 0.6);
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 70px;
}
#navbar > a > img {
  width: 180px;
}
#navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
}
#navbar ul a {
  color: white;
  text-decoration: none;
}
#navbar ul a li {
  font-family: "Open Sans Condensed", sans-serif;
  padding-right: 20px;
  font-size: 22px;
  text-shadow: 1px 1px gray;
}
#navbar ul a li img {
  width: 42px;
  margin-top: -6px;
}
#navbar a:hover {
  color: #f6c90e;
  -webkit-transition: 500ms;
  transition: 500ms;
}
#navbar .menu-mobile-icon {
  display: none;
}
#navbar .menu-mobile-icon span {
  font-size: 48px;
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 20px;
}
section .perfil-chef {
  border: 2px solid #f6c90e;
  margin-right: 200px;
  width: 500px;
  height: 600px;
}
section .perfil-chef img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .description-chef {
  width: 500px;
  color: #313030;
  width: 600px;
  margin: 0 auto;
}
section .description-chef h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Satisfy", cursive;
  color: #f6c90e;
}
section .description-chef h2 {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  padding: 10px 0px 30px 0px;
  color: #4a4e69;
  font-size: 30px;
}
section .description-chef .info-chef {
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
}
section .description-chef .line-icon {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
section .description-chef .line-icon img {
  width: 20px;
  margin: 0 auto;
  display: block;
}
section .description-chef .line-icon .line-icon2 {
  margin-top: 10px;
  width: 250px;
  height: 1px;
  background-color: #adb5bd;
}
section .description-chef .editChef {
  margin-top: 20px;
  text-align: center;
}
section .description-chef .editChef > a {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #4a4e69;
}
section .description-chef .editChef a:hover {
  color: #f6c90e;
}
section .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-left: 30px;
  padding-top: 40px;
  margin: 0 auto;
}
section .contact p {
  padding-left: 10px;
}

.food {
  background-image: url("http://template.themeton.com/rozario/images/pages/cover17.jpg");
  background-repeat: no-repeat;
  background-color: #fafafa;
}
.food h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Satisfy", cursive;
  color: #f6c90e;
  padding: 50px 0px 30px 0px;
}
.food .line-icon {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-bottom: 40px;
}
.food .line-icon img {
  width: 30px;
  margin: 0 auto;
  display: block;
}
.food .line-icon .line-icon2 {
  margin-top: 10px;
  width: 250px;
  height: 1px;
  background-color: #adb5bd;
}
.food .card-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.food .card-holder .card {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  margin: 50px 30px;
}
.food .card-holder .card img {
  width: 350px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.food .card-holder .card:hover {
  -webkit-box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px;
          box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px;
}
.food .card-holder .card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}
.food .card-holder .card .content h3 {
  font-family: "Open Sans Condensed", sans-serif;
  width: 200px;
  font-weight: lighter;
  font-size: 28px;
  padding-bottom: 5px;
  border-bottom: 4px solid #f6c90e;
}
.food .card-holder .card .content p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.food .card-holder .card .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.food .card-holder .card .content button {
  width: 30%;
  height: 45px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #ffac1c26;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-right: 20px;
}
.food .card-holder .card .content button > a {
  text-decoration: none;
  color: #f6c90e;
  font-weight: bold;
  font-size: 16px;
}
.food .card-holder .card .content button:hover {
  background-color: #ffac1c3f;
  cursor: pointer;
}

footer {
  height: 100px;
  background-image: url("../images/footer.png");
  background-color: #111111;
}
footer .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}
footer .media > div {
  margin-top: 10px;
  margin-left: 20px;
  background: #eeeded;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
footer .media > div img {
  width: 30px;
  height: 30px;
  padding: 9px;
}
footer .media div:hover {
  background-color: #f6c90e;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (max-width: 700px) {
  header #navbar > ul {
    display: none;
  }
  header #navbar .menu-mobile-icon {
    display: block;
  }
}
@media (max-width: 1430px) {
  section .perfil-chef {
    width: 400px;
    height: 400px;
  }
  section .perfil-chef img {
    height: 400px;
  }
  section .description-chef {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .perfil-chef {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  section .perfil-chef img {
    height: 400px;
  }
  section .description-chef {
    width: 400px;
  }
  section .description-chef h1 {
    margin-top: 30px;
  }
  section .description-chef .line-icon {
    width: 350px;
  }
  section .description-chef .line-icon .line-icon2 {
    width: 150px;
  }
}